@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--slate-1);
    --foreground: var(--slate-12);
    --card: var(--slate-1);
    --card-foreground: var(--slate-12);
    --popover: var(--slate-1);
    --popover-foreground: var(--slate-12);
    --primary: var(--green-9);
    --primary-foreground: var(--slate-1);
    --secondary: var(--slate-1);
    --secondary-foreground: var(--green-9);
    --muted: var(--slate-1);
    --muted-foreground: var(--slate-11);
    --accent: var(--slate-1);
    --accent-foreground: var(--green-9);
    --destructive: var(--red-9);
    --destructive-foreground: var(--slate-1);
    --border: var(--slate-7);
    --input: var(--slate-5);
    --ring: var(--slate-12);
    --radius: 0.5rem;
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
  }
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply bg-slate-4 text-foreground font-normal text-sm font-sans h-full;
  }

  /*
    https://www.joshwcomeau.com/css/custom-css-reset/
    1. Use a more-intuitive box-sizing model.
  */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
}